<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory management</title>
    <!-- <link rel="stylesheet/less" type="text/css" href="/static/styles.less" /> -->
    <link rel="stylesheet/less" type="text/css" href="../static/styles.less" />
    <script src="//cdn.jsdelivr.net/npm/less@3.13" ></script>
    <script src="https://kit.fontawesome.com/9663701009.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="menu">
        <ul>
            <li><i class="fas fa-warehouse"></i></li>
            <li><i class="fas fa-toolbox"></i></li>
            <li><i class="fas fa-cog"></i></li>
            <li><i class="fas fa-question-circle"></i></li>
        </ul>
    </div>
    <div class="container">
        <h1>Invenstorey <span>by MNGE</span></h1>
        
    </div>
</body>
</html>
